.root{
    -fx-background-image: url("SCREEN_END.jpg");
    -fx-background-size: cover;
}

#text {
    -fx-fill: black;
    -fx-font-size: 35px;
    -fx-border-width: 5;
    -fx-alignment: left;
    -fx-display-caret: false;
    -fx-border-color: white;
    -fx-border-style: solid;

}

#start, #quit, #play {
    -fx-border-color: none;
    -fx-pref-width: 100px;
    -fx-alignment: bottom-center;
    -fx-padding: 5 10 5 10;
    -fx-font-family: "Franklin Gothic Heavy";
    -fx-font-size: 20px;
    -fx-text-fill: grey;
    -fx-background-radius: 5px;
}

#name {
    -fx-font-size: 45px;
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-font-family: "Franklin Gothic Heavy";
    -fx-padding: 0 0 20 0;
}